<launch>

    <!-- Load the maze world with the Pac-Man robot and ghost robots -->

    <env name="GAZEBO_MODEL_PATH" value="$(find irobotcreate)/models/"/>

    <!-- Load the maze world with standard physics -->
    <include file="$(find irobotcreate)/launch/pacmaze.launch">
        <arg name="world_name" value="$(find irobotcreate)/worlds/pacman_maze.world"/>
    </include>



    <!-- Pac-Man robot -->
    <group ns="pacman">
        <node name="spawn_model"
            pkg="gazebo_ros"
            type="spawn_model"
            args="-file $(find irobotcreate)/models/irobot/model_pacman.sdf -sdf -model PacMan -x 3 -y 0 -z 0.5 -Y -1.5" />
        <node name ="tf_broadcast" pkg="irobotcreate" type="tf_broadcast"/>
    </group>


    <!-- Inky -->
    <group ns="inky">
    <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-file $(find irobotcreate)/models/irobot/model_inky.sdf -sdf -model Inky -x -4 -y 4 -z 0.5"/>
    <node name ="tf_broadcast" pkg="irobotcreate" type="tf_broadcast"/>
    </group>


    <!-- Blinky -->
    <group ns="blinky">
    <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-file $(find irobotcreate)/models/irobot/model_blinky.sdf -sdf -model Blinky -x -3 -y 0 -z 0.5"/>
    <node name ="tf_broadcast" pkg="irobotcreate" type="tf_broadcast"/>
    </group>


    <!-- Clyde -->
    <group ns="clyde">
    <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-file $(find irobotcreate)/models/irobot/model_clyde.sdf -sdf -model Clyde -x -4 -y -4 -z 0.5"/>
    <node name ="tf_broadcast" pkg="irobotcreate" type="tf_broadcast"/>
    </group>

</launch>
