<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find irobotcreate)/models/"/>

    <!-- load an empty gazebo world with standard physics -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find irobotcreate)/worlds/irobot_maze.world"/>
    </include>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find irobotcreate)/models/irobot/model_full.sdf -sdf -model iRobotCreate"/>

</launch>